<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/bootstrap.min.js"></script>
  
    <title>MyPinBoard</title>
</head>

<body ng-app="myApp" ng-cloak>
<div class="container-fluid" ng-controller="mainController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                <a class="navbar-brand" href="#">My<i class="fa fa-thumb-tack fa-1x" aria-hidden="true"></i>Board</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="addImg"><a href="#" ng-click="addImage()"><i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i> Add Image</a></li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                  <li class="logOut"><a href="#"ng-click="logout()"><i class="fa fa-times-circle fa-1x" aria-hidden="true"></i> Log Out</a></li>
                </ul>
        
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home" ng-click="getMyPins(userName)">My Pins</a></li>
            <li><a data-toggle="tab" href="#myInfo" ng-click="getMyInfo(userName)">Add Image</a></li>


        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active" ng-model="myPins">
                    </br>
                    <!-- {{myPins}} -->
                    <div class="row">
                
                        <!-- [{{$index + 1}}] -->
                        <!--     <img src="..." alt="...">-->
                        <div class="list_pins" ng-repeat="pin in myPins track by $index">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!--  <h3>Thumbnail label</h3>
                                                    <p>...</p> -->
                                           <a href="#" class="btn-xs btn-danger" id="delete_img_button" role="button" ng-click="removeImage(userName,pin)">X</a>
                                           <img src={{pin}} alt="..." class="thumbnail img-responsive">
                                     </div>
                                </div>
                            </div>
                        </div>
                
                
                    </div>
                
            </div>
           
            <div id="myInfo" class="tab-pane fade">  <!--  <h3>MyInfo</h3> -->
                       
                        <br/>
                       <!-- <div class="input-group">
                            <label for="comment">Image Title</label>
                            <input type="text" class="form-control" ng-model="imgTitle" placeholder={{imgTitle}} aria-describedby="sizing-addon2">
                        </div>
                        <br/> -->
                        <div class="input-group">
                            <label for="comment">Image Url</label>
                            <input type="text" class="form-control" ng-model="imgUrl" placeholder={{imgUrl}} aria-describedby="sizing-addon2">
                        </div>
                        <br/>
                        <button> <a href="#"ng-click="addImage(userName,imgUrl)"><i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i> Add Image</a></button>
                        <br/>
                        <br/>
                        <div class="input-group">
                            <label for="comment">Username</label>
                            <input disabled type="text" class="form-control" ng-model="userName" placeholder={{userName}} aria-describedby="sizing-addon2">
                        </div>
                        
                        
                    </div>
        </div>
    </div>
</div>
    
</body>

  
    <script src="/angular/angular.min.js"></script>
    <script src="/client.js"></script>
    <link rel="stylesheet" href="/css/file.css">


</html>
