<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  
    <title>Book Exchange</title>
</head>

<body ng-app="myApp" ng-cloak>
<div class="container-fluid" ng-controller="mainController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                <a class="navbar-brand" href="#">BookExchange</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" ng-click="logout()">Log Out</a></li>
                    <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="active"><a href="#">My Info: {{userName}}</a></li>
            <li role="presentation"><a href="#">My Books</a></li>
            <li role="presentation"><a href="#">My Trades</a></li>
            <li role="separator" class="divider"></li>
            <li role="presentation"><a href="#">Add Book</a></li>
          </ul>
        </li>  -->
                </ul>
            <!--     <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Book info">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form> -->

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home" ng-click="getAvailableBooks(userName)">Available Books</a></li>
            <li><a data-toggle="tab" href="#myInfo" ng-click="getMyInfo(userName)">My Info</a></li>
            <li><a data-toggle="tab" href="#myBooks" ng-click="getMyBooks(userName)">My Books</a></li>
            <li><a data-toggle="tab" href="#addBook">Add Book</a></li>

        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active" ng-model:"availableBooks"> <!--  <h3>Available Books</h3> -->
                 
                    </br>
                    
                    
                     <div class="list_users" ng-repeat="state in availableBooks">
                         <!-- [{{$index + 1}}] -->
                         <!--     <img src="..." alt="...">-->
                        
                         <ul style="list-style: none;" >
                             <button ng-show="state._id != null && state.availableusers[0] != null" type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{ $index + 1 }}">State: {{state._id}}</button>
                         </ul>
                         <div id="demo{{ $index + 1 }}" class="collapse panel-collapse" >
                             
                             <ul style="list-style: none;" ng-repeat="user in state.availableusers">
                                 <button ng-show="state._id != null && user.user_books[0] != null" type="button" class="btn btn-xs btn-default" data-toggle="collapse" data-target="#{{user._id}}{{ $index + 1 }}">{{user.user_city}} - {{user.user_name}}</button>
                                     <div id="{{user._id}}{{ $index + 1}}" class="collapse panel-collapse" >
                                     <ul style="list-style: none;" class="list_books" ng-repeat="user_book in user.user_books">
                                         <li><h4>{{user_book.book_title}}</h4></li>
                                         <li>Author: {{user_book.book_author}} </li>
                                         <li>Year: {{user_book.book_year}} </li>
                                          <li>
                                              <label for="selectedBook" ng-cloak><small>Select a book to offer:</small></label> 
                                          <select ng-init="selectedBook = myBooks[0].book_title" ng-model="selectedBook" ng-options="book.book_title for book in myBooks"> 
                                                <option ng-options="book.book_title for book in myBooks" value="{{book.book_title}}">{{book.book_title}}</option> 
                                          </select> 
                                  <!--          <p>{{selectedBook.book_title}}</p> -->
                                         <button ng-hide="user_book.book_requests.indexOf(userName) !== -1" type="submit" class="btn btn-xs btn-success" ng-click="requestBook(userName,user.user_name,user_book.book_title,selectedBook.book_title)">Request</button>
                                         </li>
                                     </ul>
                                     </div>
                                     
                                </ul>     
                         </div>                     
                    </div>
          
          <!--     
                    <li ng-show="user.user_city.length && user.user_books.length"><h4>Location: {{user.user_city}},{{user.user_state}}</h4></li>
                    <li ng-show="user.user_books.length">Owner: {{user.user_name}}</li>
                    <ul style="list-style: none;" class="list_books" ng-repeat="user_book in user.user_books">
                        <li><h4>{{user_book.book_title}} <button type="submit" class="btn btn-xs btn-success" ng-click="request(bookTitle,bookUser)">Request</button><h4></li>
                        <li>Author: {{user_book.book_author}} </li>
                        <li>Year: {{user_book.book_year}} </li>
                    </ul> 
                    
----------------------------------------------   
                    <p>{{availableBooks}}</p>  -->
            </div>
            
            <div id="myInfo" class="tab-pane fade">  <!--  <h3>MyInfo</h3> -->
                <br/>
                <div class="input-group">
                    <label for="comment">Username</label>
                    <input disabled type="text" class="form-control" ng-model="userName" placeholder={{userName}} aria-describedby="sizing-addon2">
                </div>
                <br/>
                <div class="input-group">
                    <label for="comment">Name</label>
                    <input type="text" class="form-control" ng-model="fullName" placeholder={{fullName}} aria-describedby="sizing-addon2">
                </div>
                <br/>
                <div class="input-group">
                    <label for="comment">City</label>
                    <input type="text" class="form-control" ng-model="city" placeholder={{city}} aria-describedby="sizing-addon2">
                </div>
                <br/>
                <div class="input-group">
                    <label for="comment">State</label>
                    <input type="text" class="form-control" ng-model="state" placeholder={{state}} aria-describedby="sizing-addon2">
                </div>
                <br/>
                <div class="input-group">
                    <button type="submit" class="btn btn-small btn-default btn-block" ng-click="saveMyInfo(userName,fullName,city,state)">Save Info</button>
                </div>


            </div>
            <div id="myBooks" class="tab-pane fade" ng-model="book">  <!--  <h3>My Books</h3> -->
                <ul style="list-style: none;" class="list_books" ng-repeat="book in myBooks">
                    </br>
                    <!-- [{{$index + 1}}] -->
                 <!--     <img src="..." alt="...">-->
                    <li><h4><button type="submit" class="btn btn-xs btn-danger" ng-click="deleteMyBook(userName,book.book_title,book.book_author,book.book_year)">X</button>
                        {{book.book_title}}</h4></li>
                    <li>Author: {{book.book_author}} </li>
                    <li>Year: {{book.book_year}} </li>
                    <li>Requests for this book:</li>
                    <ul class="list_requests" ng-repeat="request in book.book_requests">
                        <li>Book offered: <b>{{request.book_title}}</b> from: <b>{{request.user_name}}</b> <button type="submit" class="btn btn-xs btn-success" ng-click="approve(bookTitle,bookUser)">yes</button>
                            <button type="submit" class="btn btn-xs btn-danger" ng-click="reject(bookTitle,bookUser)">no</button></li>


                    </ul>
                </ul>


                </ul>




            </div>
            <div id="addBook" class="tab-pane fade">
                <!-- <h3>Add Book</h3> -->
                <br/>
                <div class="input-group">
                    <label for="comment">Book Title</label>
                    <input type="text" class="form-control" ng-model="bookTitle" placeholder={{bookTitle}} aria-describedby="sizing-addon2">
                </div>
                <br/>
                <div class="input-group">
                    <label for="comment">Book Author</label>
                    <input type="text" class="form-control" ng-model="bookAuthor" placeholder={{bookAuthor}} aria-describedby="sizing-addon2">
                </div>
                <br/>
                <div class="input-group">
                    <label for="comment">Book Year</label>
                    <input type="text" class="form-control" ng-model="bookYear" placeholder={{bookYear}} aria-describedby="sizing-addon2">
                </div>
                <br/>
                <div class="input-group">
                    <button type="submit" class="btn btn-small btn-default btn-block" ng-click="addBook(userName,bookTitle,bookAuthor,bookYear)">Add Book</button>
                </div>


            </div>
        </div>
    </div>
     </div>
    
</body>

  
    <script src="/angular/angular.min.js"></script>
    <script src="/client.js"></script>
    <link rel="stylesheet" href="/css/file.css">


</html>
